[2019-09-14 11:31] RiverCityBoiii opened #1 "Black screen"
Black screen when booting the game
[Desktop.zip](https://github.com/MoArtis/RCGMod/files/3612659/Desktop.zip)

[2019-09-14 15:31] MoArtis commented on #1
The error was due to the usage of GetSystemTimePreciseAsFileTime which is not available on Windows versions lower than Win8.

Fixed with the latest version! 😉 Thanks @RiverCityBoiii

[2019-09-14 15:31] #1 closed

[2019-09-14 23:09] RedEyedRocker opened #2 "Construction Site Cutscene Crash"
Windows 10 v1809 (OS Build 17763.737)
![River City Girls](https://user-images.githubusercontent.com/22656757/64914580-cd2d7f80-d774-11e9-9547-e7020bc1aa03.jpg)
[output_log.txt](https://github.com/MoArtis/RCGMod/files/3613245/output_log.txt)
[savefile.sav.txt](https://github.com/MoArtis/RCGMod/files/3613528/savefile.sav.txt)

Clean New Save: [savefile.sav.txt](https://github.com/MoArtis/RCGMod/file

[2019-09-15 08:22] MoArtis commented on #2
[savefile.sav.txt](https://github.com/MoArtis/RCGMod/files/3613536/savefile.sav.txt)

Try this save file.

[2019-09-15 08:59] MoArtis commented on #2
[savefile.sav.txt](https://github.com/MoArtis/RCGMod/files/3613568/savefile.sav.txt)

[2019-09-15 11:34] MoArtis commented on #2
[Assembly-CSharp.dll.txt](https://github.com/MoArtis/RCGMod/files/3613702/Assembly-CSharp.dll.txt)

[2019-09-15 11:59] MoArtis commented on #2
[Assembly-CSharp.dll.txt](https://github.com/MoArtis/RCGMod/files/3613726/Assembly-CSharp.dll.txt)

[2019-09-15 15:25] MoArtis commented on #2
Issue fixed by removing all the "xinput.dll" files and only keeping the "xinput1_4.dll" file for x360ce.

[2019-09-15 15:25] #2 closed

[2019-09-16 05:51] MoArtis opened #3 "Screenshots"
![vlcsnap-2019-09-16-13h12m18s096](https://user-images.githubusercontent.com/3904610/64936528-0b1bc800-d889-11e9-8c78-314270f8122d.png)
![vlcsnap-2019-09-16-13h18m14s991](https://user-images.githubusercontent.com/3904610/64936529-0bb45e80-d889-11e9-9ae9-1ba104d763cb.png)
![vlcsnap-2019-09-16-13h21m47s169](https://user-images.githubusercontent.com/3904610/64936530-0c4cf500-d889-11e9-80fd-8ef22bd9d5

[2019-09-16 05:51] #3 closed

[2019-09-22 08:47] MoArtis commented on #3
![1049320_20190922161231_1](https://user-images.githubusercontent.com/3904610/65384687-cb0c8780-dd57-11e9-8c10-23d4860a3fc3.png)
![1049320_20190922161454_1](https://user-images.githubusercontent.com/3904610/65384688-cba51e00-dd57-11e9-904c-8a458beda79e.png)
![1049320_20190922163910_1](https://user-images.githubusercontent.com/3904610/65384689-cc3db480-dd57-11e9-998c-53b75cdf594c.png)

[2019-09-22 13:59] MoArtis commented on #3
![xpgain](https://user-images.githubusercontent.com/3904610/65389037-38cea880-dd84-11e9-8022-0247324b1091.png)

[2019-09-23 16:44] XZeroName opened #4 "Bug with the option that skips the title screen"
-After loading a file, I quit to the menu.

-Pressed Start to skip the logos. (I'm unsure if this step matters.)

-I'm at file select because of the feature that skips the title screen.

-So I press B to go back to title, but the screen transition goes to file select, where I already was.

-One more B to go back and I'm at the title screen this time.

Seems it only happens after loading and quitti

[2019-09-23 16:58] XZeroName opened #5 "Feature request: Option to reassign menu buttons"
I swapped LB and RB with steam's controller configuration, because they're "summon recruit" and "block" and I want to use LB to block.

But the pause menu is affected because it uses those buttons to go to the next/previous page, and now it's backwards. So I need to be able to change the menu buttons to fix that.

[2019-09-24 06:34] MoArtis commented on #5
I silently added a new feature to the current 1.2 release. Please redownload it again and set the value "swapControllerBlockAndRecruitButtons" to true.

Let me know if this is working for you (and you should not need to ise stream's controller configuration anymore)

[2019-09-24 06:35] MoArtis commented on #4
Should be fixed now!
Please redownload the version 1.2 and let me know if it fixes your issue.

[2019-09-24 16:03] XZeroName commented on #4
"Save & quit" sent me back to the title screen. It's fixed.

[2019-09-24 16:03] #4 closed

[2019-09-24 16:10] XZeroName commented on #5
It switched the buttons, but they're still going the opposite direction through the pause menu pages.

[2019-09-24 16:12] XZeroName commented on #5
It switched the buttons, but it still switched the direction they go through the pause menu pages.

[2019-09-24 21:44] XZeroName opened #6 "Bug: Missing dojo move input"
Misako's Stone Hands move is not displaying its button input in the dojo.
("B B B. Special.")

[2019-09-27 13:53] MoArtis commented on #5
Arf sorry about that, I wasn't able to test it properly.
But that might be because you are still using steam's controller configuration, no?

[2019-09-27 13:55] MoArtis commented on #6
I think there is one move missing for each character but I'm not sure why. I haven't looked it up though. :)

[2019-09-27 16:04] XZeroName commented on #5
I'm sure I remembered to pick the default configuration.

If I was using my custom configuration, it would have reversed my button reversal. But when I tried it, blocking was on LB.

[2019-10-11 05:48] Zanmato27 opened #7 "Mod breaks the GOG version"
I just installed this mod fresh from GOG and the mod gives me a black screen when I try to start the game and I can't do anything at all except for closing the game with Alt+F4. Can you fix this for GOG players?

[2019-10-12 02:41] MoArtis commented on #7
@Zanmato27 Thank you for reporting that issue.

Try to start the game again with the mod and open the link below with the Explorer or by using the Win key + R :
%userprofile%\appdata\locallow\WayForward Technologies\River City Girls\

Then just drag and drop the output.log file into a new comment on Github. :)
Thanks!

[2019-10-12 15:31] HGPMischiefMaker commented on #7
[output_log.txt](https://github.com/MoArtis/RCGMod/files/3720842/output_log.txt)

[2019-10-12 22:02] Zanmato27 commented on #7
Here's my log file.
[output_log.txt](https://github.com/MoArtis/RCGMod/files/3721212/output_log.txt)

[2019-10-13 10:42] MoArtis commented on #7
Apparently they stripped all the steam related scripts (which make sense obviously) thus breaking the references of other scripts.

Attempting to fix it blindly is unlikely to work. So could one of you @HGPMischiefMaker or @Zanmato27 compress and share the managed folder to me?

[2019-10-13 10:43] MoArtis commented on #7
The folder should located here: "River City Girls\RiverCityGirls_Data\Managed"

[2019-10-13 16:38] HGPMischiefMaker commented on #7
[Managed.zip](https://github.com/MoArtis/RCGMod/files/3721966/Managed.zip)

[2019-10-13 23:56] Zanmato27 commented on #7
Here's mine too if it helps:

[Managed.zip](https://github.com/MoArtis/RCGMod/files/3722621/Managed.zip)

[2019-10-14 03:00] MoArtis commented on #7
Thank you two! Don't hesitate to add me on steam so we can test a GOG version of the mod quickly.
https://steamcommunity.com/id/MoArtis/

[2019-10-14 04:56] MoArtis commented on #7
[RCG-UserXpMod_GOG_1.2_RC1.zip](https://github.com/MoArtis/RCGMod/files/3723008/RCG-UserXpMod_GOG_1.2_RC1.zip)

@Zanmato27 @HGPMischiefMaker  Please try this version of the mod and let me know how it goes. 😀

[2019-10-14 05:26] HGPMischiefMaker commented on #7
Looks like it works!  Loaded the game and played around with keyboard controls for a bit.

Thanks so much for doing this!

[2019-10-14 06:38] MoArtis commented on #7
oh wow! I'm actually surprised it works!! 😁
The only thing annoying is that I can't think of a way to have only one version of the mod for GOG and Steam. Too bad.
Thanks for the help! @HGPMischiefMaker and @Zanmato27

[2019-10-14 07:16] MoArtis commented on #7
I added a download link for that GOG version of the mod.
https://github.com/MoArtis/RCGMod/releases/tag/1.2

I will wait a bit for more feedback / confirmation before closing this issue. 😁

[2019-10-14 15:21] Zanmato27 commented on #7
I'm still having the black screen problem even with the GOG version of this mod.

[2019-10-15 00:51] HGPMischiefMaker commented on #7
Same here.

The release candidate 1 version works for me, but when I switch to the newer version you linked, the black screen problem is back.

[2019-10-15 02:35] MoArtis commented on #7
Ah damn... I need to check what happened. For now I will replace the RC1 with the release version.

@Zanmato27 What do you mean by grab button? Grabbing is automatic in the game. 🤔
For the statistics, while it is feasible I don't think it worth the effort. The gameobject displaying the text is actually refurbished debug text so I prefer not taking more risks with it since it works pretty well. 😁 A

[2019-10-15 02:43] MoArtis commented on #7
@Zanmato27 @HGPMischiefMaker Ah! I think I just made a small stupid mistake with the release version.

Please test this version and let me know if it's working:
[RCG-UserXpMod_GOG_1.2_RC2.zip](https://github.com/MoArtis/RCGMod/files/3727171/RCG-UserXpMod_GOG_1.2_RC2.zip)

[2019-10-15 14:23] Zanmato27 commented on #7
It's the button to grab objects, and when you have the Human Weapon skill, it counts towards people too, and with the button changed, you can't grabbed downed people anymore with the original button.

[2019-10-16 14:56] True-Khaos opened #8 "Feature Request: Disable moves"
I don't know how complicated this would be but it would be amazing to be able to turn off moves you don't use. I would love to disable cheer drill on Kyoko so I can pull off Volleyball Strike more consistently.

[2019-10-17 00:36] MoArtis commented on #8
The logic should be feasible but the UI will be terribly painful to make (as we are only modifying the code of an editor-driven engine, Unity).
And listing all the moves and their activation flag in the config file sounds very sad and annoying for the end-user. 🤔

I can't promise anything but I will keep that feature request around. Thanks for the proposition! 😃

[2019-10-17 00:48] binhdvo commented on #8
As MoArtis says, this is doable in logic; the config file format for it might be better done as making a list of inputs for the move(s) you want disabled.  I should point out though, that for your particular case I do not believe it will help what you are trying to do; volleyball strike already outprioritizes cheer drill on the input processing, so if the game does cheer drill it means it has alre

[2019-10-17 00:57] True-Khaos commented on #8
I'm a little late on the river city girls train as I just got the game this week and found the mod today. I'll have to try limiting my framerate when I get time, wasn't aware that that was a potential problem.
I figured this feature might be a little difficult but thanks for the positive feedback right away, both about the feature itself and my apparently unrelated issue.

[2019-11-27 08:41] jeeyi345 opened #9 "Missing Chinese UI"
Hi, thank you for the mod! Helps a lot in game play.
I noticed that  Chinese UI disappeared after replace dll with the modded dll.
Please help me with the issue if you have free time. I got so used to the mod I feel uncomfortable when playing stock Chinese.

[2019-11-28 08:50] MoArtis commented on #9
Oh that's strange.
I need to look into how localization works in that RCG.
Thanks for reporting the issue.

[2019-12-01 06:25] jeeyi345 commented on #9
Some findings - If I start the game in default English and mod applied, Chinese (CJK actually) hidden, but if I switch to Chinese then applied the mod, Chinese UI and mod effects stays. If I switch language in game, CJK will be gone.

[2019-12-01 18:43] dawnpatch opened #10 "Size mod does not work"
Was trying out everything the mod had and everything works besides the size mod. Not really something crazy but it did sound fun especially if it affected hit boxes.

[2020-01-04 21:57] winterheart opened #11 "Enabling/Reenabling localization file import"
Hello.

In Assembly-CSharp.dll exists Data_LocalizationDatabase class which has method LoadLocalizationData() but seems this method unused. Is there any way to reenable it? I need it for translation purposes.

[2020-01-09 11:23] MoArtis commented on #11
Should be possible but I sadly don't have much time these days. Hopefully I can look at it again one day.

[2020-01-18 03:32] XZeroName opened #12 "New game update, mod is broken now"
Game refuses to load after reinstalling the mod.

[2020-01-19 07:52] MoArtis commented on #12
This was to be expected. 😁 I will look into it today or tomorrow then. Thanks for reporting!

[2020-01-19 16:00] Zero-Starlight opened #13 "Player invincibility, pause AI?"
As the title states, I'd like to see the addition of options to make the player invincible and/or pause enemy AI so that we can effectively have a practice mode. I don't know if this would be feasible/possible to implement, but since you're taking requests for features, I figured I might as well ask.

[2020-01-19 18:31] Alua7 opened #14 "Any chance game reading .json (priority)?"
We can edit .json files in game but it has no effect. Can u make game reading it prioretically, Master?

[2020-01-20 09:04] MoArtis commented on #14
I will look into it! Hopefully these files aren't outdated or incompatible somehow. Thanks! 😉

[2020-01-20 09:09] MoArtis commented on #13
That should be pretty easy to do.
For now all the "training" function are attached to F1 to F3.

* Press F1 to make enemies invincible.
* Press F2 to force common enemies to spawn as their Nightmare variations.
* Press F3 to prevent common enemies from attacking the players.

So I will add F4 to deactivate enemies's AI make the players invincible and F5 to make the players' characters invincible.

[2020-01-20 09:13] MoArtis commented on #7
@Zanmato27 @HGPMischiefMaker Are you two still around? I need your help to get us the updated managed files from the GOG version. 😁

I also need to have a serious look on the two little issues reported by @Zanmato27. Can you create two new separate issues for them?

[2020-01-20 09:14] #7 closed

[2020-01-20 09:15] MoArtis commented on #11
Since the update is out and I have some free time, I will try to add a language selection setting for the new version.

[2020-01-20 09:16] MoArtis commented on #10
ah strange... I will test that and fix it for the new version. Thanks for reporting the issue!

[2020-01-20 09:18] MoArtis commented on #9
Probably related to https://github.com/MoArtis/RCGMod/issues/11
I will look into it for the new version. Thanks again for reporting the issue!

[2020-01-20 09:20] MoArtis commented on #8
@True-Khaos Are you still around? Did limiting the framerate helped you to pull off the right moves?

[2020-01-20 09:31] MoArtis commented on #5
I will try to find a solution and get that fixed for the new version. I'm not even sure if I was able to reproduce the problem back then. So @XZeroName if you are still around, your help will be appreciated for testing purpose. 😁

[2020-01-20 09:32] MoArtis opened #15 "Simple AI controlled second player"
Piggybacking on the basic enemy logic and the modded assist mode to make the second player's character controlled by the AI.

[2020-01-20 09:35] MoArtis commented on #6
Might be by design but I will check if this was fixed in the new patch and if not I will try to add it in the new version of the mod.

[2020-01-20 10:51] jeeyi345 commented on #9
Not at all. Thank you for the effort!

[2020-01-20 11:42] Alua7 commented on #14
It'd be sooo great <3 < 3 <3

[2020-01-20 11:54] Alua7 commented on #15
:O :1st_place_medal:

[2020-01-20 12:03] Alua7 opened #16 "Adding mod's name and author in main menu?"
Something like "User Xp mod 1.3 by MoArtis" in the bottom of screen when choosing game slot.
Would be great for those who don't know about mod but watching streams or letsplays and see new features. And line in ini(config) file like "version info - true/false"

[2020-01-20 16:09] MoArtis commented on #16
Ahah ok! Not a big priority but why not. ;) The other contributor must be added (@binhdvo).

[2020-01-20 16:13] binhdvo commented on #16
The lionshare of the work has been yours Moartis, I'm happy remaining a helper in the shadows :)

[2020-01-20 16:40] True-Khaos commented on #8
@MoArtis It may have helped a little bit, honestly I was probably just not great at nailing that window. My success rate fluctuated as I played. I think I was a little more consistent after limiting the framerate though

[2020-01-21 08:32] MoArtis commented on #8
Ok good to know! I'm gonna close that issue for now. But don't hesitate to add more info about if needed. I might reopen it later in that case.

[2020-01-21 08:32] #8 closed

[2020-01-21 16:36] soulofrebirth commented on #12
Waiting for your new update. This mod is really practical.

[2020-01-21 17:17] MoArtis commented on #12
[RCG-UserXpMod_STEAM_1.21_Test.zip](https://github.com/MoArtis/RCGMod/files/4092434/RCG-UserXpMod_STEAM_1.21_Test.zip)
@soulofrebirth And here you have it. ;)
It's just a test version for now though.
We have to go through all the functions to see if anything is broken. Therefor don't hesitate to report any broken feature here or as a new issue.

[2020-01-21 17:28] MoArtis commented on #12
[RCG-UserXpMod_STEAM_1.21_Test.zip](https://github.com/MoArtis/RCGMod/files/4092434/RCG-UserXpMod_STEAM_1.21_Test.zip)
@soulofrebirth And here you have it. ;)
It's just a test version for now though.
We have to go through all the functions to see if anything is broken. Therefor don't hesitate to report any broken feature here or as a new issue.

[2020-01-22 09:22] MoArtis commented on #9
![RCGMod_LanguageFix](https://user-images.githubusercontent.com/3904610/72881366-99bebb00-3d3b-11ea-897e-ce83481f03d9.gif)

@jeeyi345 It should now be fixed in the latest version of the mod.
https://github.com/MoArtis/RCGMod/releases

[2020-01-22 11:24] Alua7 commented on #12
NOM nom nom!

[2020-01-22 13:42] Alua7 opened #17 "What's up with zombies?"
Is there a way making them not so useless? In fact can't remember getting damaged by them even.

[2020-01-22 13:45] Alua7 opened #18 "Invincibility marks"
Players, enemies and bosses as I understand it have moments when they cannot be hit (stunned enemies, some combo moments etc) can these moments be markable with some kind of signs or palette changes? So players could understand when they're safe and when not to try hit someone.

[2020-01-22 13:48] Alua7 opened #19 "Newbies juggles"
That's an appetite. To juggle enemies properly players have to do micro pauses between combinations(heavy attack mix-ups, weapon juggles). Can it be simplified with inserting micropause after heavy launcher or weapon hit so you can just tap button as newbie? ;P

[2020-01-22 21:01] Alua7 opened #20 "GOG .dll"
Assembly-CSharp.dll as requested in main page :o
[Assembly-CSharp.zip](https://github.com/MoArtis/RCGMod/files/4099904/Assembly-CSharp.zip)

[2020-01-23 05:12] MoArtis commented on #20
Ah thank you very much! I will have a look.

[2020-01-23 11:10] XxGekasxX opened #21 "(Request/Translation) Progression Info - Spanish Translation"
I would like to be able to see the progression info in Spanish so I leave my translation of each element.I hope and it can be added to the mod.

Greetings from Argentina 😄

Completed Quests ---> Misiones Completadas
Defeated Bosses ---> Jefes Derrotados
Visited Areas ---> Areas Visitadas
Seen Items ---> Objetos Vistos
Unlocked Moves ---> Movimientos Desbloqueados
Unlocked Equips ---> Equipamiento

[2020-01-23 11:52] soulofrebirth commented on #12
Thanks！

[2020-01-23 13:32] jeeyi345 commented on #9
Thank you!
I'm on holiday (Chinese / Lunar new year), I'll try it next week.

[2020-01-23 16:05] MoArtis commented on #9
Happy Chinese new year! 😁 I'm currently doing it too, in Wuhan 👀💦 ahah!

[2020-01-23 16:07] MoArtis commented on #21
That's a good point. There is no localization keys for these texts but I will try to add one for them as part of the mod's data file. Thanks for the suggestion!

[2020-01-23 16:19] MoArtis commented on #19
Interesting but seems tough to integrate. Let's keep that around for an eventual version 1.4 of the mod. Thanks! :)

[2020-01-23 16:20] MoArtis commented on #18
That might be easy to do. I will have to do some digging and testing but def something that can be attempted for the upcoming version. Thanks!

[2020-01-23 16:21] MoArtis commented on #17
Can you describe how you would like them to be less... useless? :) Any suggestion?

[2020-01-23 16:22] MoArtis commented on #11
Good news! The internal localization keys and the one in the json file seems to match perfectly so I added an option to choose between the two:
![image](https://user-images.githubusercontent.com/3904610/73002400-f525a180-3e3e-11ea-83de-16fcd461ef6c.png)
That function will be part of the upcoming version.

[2020-01-23 16:37] winterheart commented on #11
Cool! Waiting forward for it.

[2020-01-23 17:57] Alua7 commented on #17
If it possible - to give them normal attacks. Or slowdown player if goes too close and then explode. Since they're not mixed with normal enemies they need to be provided at least any way to deal damage.
If if possible to give them normal attacks - give also several times more HP.
Or zombies themselves reduce player's health while alive.

[2020-01-23 18:02] Alua7 commented on #19
And how about that - when using DOWN+HEAVY ATTACK - force press JUMP after a few moments
![1](https://user-images.githubusercontent.com/60073377/73010372-85aeb280-3e3c-11ea-90b3-398105ee2e44.JPG)
(jump-cancel as some people call it) it resets animation so u can do next move faster
This moments of these moves only +- 1 frame. This is most important for juggles but not easy to perform :D

[2020-01-23 20:59] Alua7 opened #22 "Keep weapons on boss enter"
An option to not to lose current weapon when enter the boss?
Also recruits sometimes disappear when entering the boss(cannot be summoned).
Situation: 2 players enters yamada - I can summon. He defeats us, I take another recruit - it always disappear(he defeated us several times :D ).

[2020-01-24 03:10] MoArtis commented on #22
for the weapons, I can have a look.
For the summon, that sounds like a bug. 🤔 Is that happening using the mod? And you tell me it is inconsistent with Yamada (can summon on first try but then, if another recruit is taken, impossible to summon)? Strange.

[2020-01-24 08:56] Alua7 commented on #22
Well... https://vk.com/video221048648_456240128 - 1:15:55 - I can summon. 1:28:03 - recruit dissapeared. 1:34:08 - another try.

[2020-01-24 09:03] Alua7 opened #23 "Item adjustments"
Me again :D Is it possible to make 2 tweaks:
1 FOOD(but not medicines) returns 25% cost if already eaten earlier.
2 accessory numeric values doubled (10% bonus damage to enemy instead of 5% for example)

[2020-01-24 09:41] jeeyi345 commented on #9
Happy Chinese new year, 😲take care, stay safe!

[2020-01-24 11:37] MoArtis commented on #22
We need to check if this is due to the mod or not. Definitely a bug, whatever the source of it. Thanks for the video! 😉

[2020-01-24 13:46] MoArtis commented on #14
Sadly there is no convenient methods to use to load the json file. Worse, the weapons, while being in the file is being loaded in its own separate way, are using prefabs which have all the needed data stored on them. But I don't have access to a list of them to simply change their data. I have to change the data on the fly for each instance...
I think I can cobble some stuff up together but I will

[2020-01-24 14:54] MoArtis commented on #23
1. Like having the price of food being reduce after eating them at least once? It might be possible.
2. Sadly these values are hardcoded... Tweaking each values will be a mess to implement and test... 😅

![image](https://user-images.githubusercontent.com/3904610/73078102-7a22c080-3efc-11ea-8ba3-0b350e3ef1bb.png)

[2020-01-24 18:02] Alua7 commented on #23
Well first thing is important too. When you already used food - it's kinda sad to buy only First Aid bc of best price-effect ratio :-)

[2020-01-24 19:07] Alua7 opened #24 "Monk mode separation?"
Pls Can these features be enabled separately? For example if I only want Boss HP doubled

[2020-01-24 23:37] Alua7 opened #25 "Kickable objects?"
Some way to do "throw weapon" effect with trash cans, benches and chairs. Great if can be linked with Up+Heavy Kyoko and Down+Heavy Misako (Juicy Kicks)

[2020-01-25 15:27] MoArtis commented on #21
![image](https://user-images.githubusercontent.com/3904610/73123355-30081080-3fca-11ea-8b76-c745c0678010.png)
Done! 😁
I did the french translation. Maybe we can have the other supported languages done in the past.
The feature will be part of the upcoming patch.

[2020-01-25 15:43] MoArtis commented on #10
@dawnpatch Fixed! it will part of the upcoming 1.3 patch.
I must say it was a really stupid mistake ahah 😅 Sorry about that.

![image](https://user-images.githubusercontent.com/3904610/73123570-69da1680-3fcc-11ea-80d5-44149a25c532.png)

[2020-01-26 07:07] Thanyemblem opened #26 "wild/recruitable bossess in overworld."
it would be pretty neat if in areas where we already beat a boss, or an area thats out of the way for after you beat a boss, there was a small chance that the boss could spawn in that room, with the same hp/tactics of when you faught them (Excluding the musician since she requires a stage to work.) and if possible at all to give them a recruit animation so they could be summoned for a unique assis

[2020-01-26 07:12] Thanyemblem commented on #15
when you do add this in, please consider anti-softlock mechanics in the case the 2nd player causes issues. like a simple AI that tries to follow player 1 if it detects no enemies around her. auto koing herself when player 1 dies so you dont get softlocked on that screen when they dont move, (or alternatively somehow convince the AI to stomp your character back to life). and try to find someway to

[2020-01-26 15:23] Alua7 commented on #18
And something like that while you cannot raise a player if he falls (2 players)to avoid whiff-heavies

[2020-01-26 17:02] Alua7 commented on #22
Just in a case it could help.
https://vk.com/video221048648_456240176
We've started experiencing major troubles with recruits. Summoned "King" hang in endless loading and caused noises until we leave location.
1:03:00 - Riki accidently summons "King"
1:03:21 - Sound becomes constant
we tried to exit to main menu
1:07:13 - "hanged King"
1:08:40 - Riki takes bad cop and he hangs immediately
1:11:31

[2020-01-26 19:31] Alua7 opened #27 "Vibration/camera shake when waving"

[2020-01-26 19:32] Alua7 opened #28 "Vibration/camera shake when waving(whiffing) an enemy"
To add vibration/screen shake when hitting enemies (after picking them up) off the ground

[2020-01-26 20:18] Alua7 opened #29 "Godie quest bug? (but it's hardly due to mod)"
game completed several times. Suddenly didn't Godai's quest "5 informers" before complete it another time. 4 of 5 beaten, 1 left in a room before room with a pit. Beaten her too and quest isn't finished

![123](https://user-images.githubusercontent.com/60073377/73141162-ffe46e80-40aa-11ea-9c29-a0c0d5bff4ca.jpg)

[2020-01-26 21:14] Alua7 opened #30 "Exclamation mark with no k.o. hit (damage display bug?)"
I hit a tiger("King") with an yoyo (Misako) and it displayed 36! But no k.o. Bombic bra is on but hit did not a knockout.
UPD: hmm unlike other weapons yoyo seems not to actually crit. So maybe game's bug
Also: yoyo gives ! but not crit, other weapons give crit but no "!".
btw funny bombic bra also affects cars

[2020-01-27 08:36] winterheart commented on #21
In veiw of #11 I've created little project on Python that extracts JSON file as numbers of [Gettext POT/PO files](https://en.wikipedia.org/wiki/Gettext) for translation and puts back them into JSON after translating. This can be useful for translation purposes.

I'm planning to release these tools after 1.3 and my workings on enhancing translation if you interested.

[2020-01-27 08:36] MoArtis commented on #16
![image](https://user-images.githubusercontent.com/3904610/73160126-1b8b5b80-4123-11ea-9bac-710a2a3e1ac5.png)

[2020-01-27 11:37] MoArtis commented on #18
I'm sorry I don't understand how the resurrection is related to the invincibility feedbacks.

[2020-01-27 12:22] MoArtis commented on #21
Cool ! Thank you @winterheart !

[2020-01-27 12:33] MoArtis commented on #18
I will not be able to make that feature in a reasonable amount of time. The invincibility / "can get hit" tests are all over the place and are sometime using their own timer. It will be a mess to implement properly.
This will have to wait for another version. :)

[2020-01-27 12:35] MoArtis commented on #15
While being a interesting idea, the time is getting short. Me or MuKen might attempt doing that later.

[2020-01-27 12:40] MoArtis commented on #28
Waving an enemy? what do you mean?
And what is hitting enemies off the ground? 😅 Using them as a weapon but not hitting actual enemies with them?

[2020-01-27 12:41] MoArtis commented on #27
Need more info about "waving".

[2020-01-27 12:44] Alua7 commented on #28
Yes, Sir! Exactly :D

[2020-01-27 12:49] MoArtis commented on #22
@Alua7 Very strange. Is it the same with the passive mod? (I guess since you mentioned that some people experience the same issue without the mod.) Thanks for the video.
@binhdvo this might interests you.

[2020-01-27 13:01] MoArtis commented on #22
![image](https://user-images.githubusercontent.com/3904610/73176722-1ab8f080-4148-11ea-8987-168d69089d51.png)
Keeping the weapons while entering boss rooms seems to be working. Might lead to other bugs though. It will require some testing.

[2020-01-27 14:06] Alua7 commented on #21
Wow, great news O_o

[2020-01-27 15:07] MoArtis commented on #22
@Alua7 You might want to create a new separate issue for the summon bug. The weapon issue will be close soon as it is part of the 1.3 version of the mod. ;)

[2020-01-27 15:17] binhdvo commented on #22
Hey, can you confirm if the recruits bug happens when activeRecruits is false?  What about when not using the mod at all?

[2020-01-27 15:20] MoArtis commented on #30
Seems to be working fine with the weapon I tried so far.
![image](https://user-images.githubusercontent.com/3904610/73186890-76d94000-415b-11ea-9f4b-21e7e738ea5b.png)
And yeah Bomb bra affects anything that can damage with a direct hit. (notice that Bomb bra doesn't work when throwing enemies and weapons.)
I'm on my way to test the yoyo.

[2020-01-27 15:22] MoArtis opened #31 "The Dojo is apparently missing 1 move per character"

[2020-01-27 15:25] MoArtis commented on #28
Since it's not hitting anything and the "weapon" is not taking any damage, I guess the camera should not shake.
Well it would be funny to actually damage the enemy by doing so. lol It might take some time though.

[2020-01-27 15:26] Alua7 commented on #22
tbh I'm refering to discord's dude who was writing "Is anyone else experiencing the recruit button breaking?  Know of any workaround?" and "Rebooting fixes it for me, but that means shutting the entire game down and relaunching; not just returning to the menu screen." when I say "other people too". We had this with similar symptoms so...
I'll try to check inactive recruits and clean game...

[2020-01-27 15:28] MoArtis commented on #26
Thanks for the suggestion. To be honest, I guess this is will very tough to do. Most bosses have AI scripts which depends heavily on their respective boss room.
But I'm keeping the suggestion around in case someone will eventually found a way and the time to do it. 😉

[2020-01-27 15:29] MoArtis commented on #24
@binhdvo might be able to take care of that eventually. He is currently not available at the moment though. So you might need to be patient. Thanks!

[2020-01-27 15:37] Alua7 commented on #28
Sorry if I got u wrong, but whiffing an enemy damages him/her. Slightly. AFAIR those whiffs even can proc bomb bra

[2020-01-27 15:52] MoArtis commented on #28
wow I didn't knew that. I just tested it ahah. Strange that it has no feedback whatsoever. Might be a very special case or a weird bug. 🤔

[2020-01-27 16:06] MoArtis commented on #30
![image](https://user-images.githubusercontent.com/3904610/73190197-9161e800-4160-11ea-9971-78af9e531297.png)
Same for the yoyo. I will leave it like that for now. We will see if the bug is still reproducible with the 1.3. But to be clear I changed nothing in the code about that. At least for now. 😁

[2020-01-27 16:13] MoArtis commented on #6
![image](https://user-images.githubusercontent.com/3904610/73191736-f1f22480-4162-11ea-8b95-e1885eb65d65.png)
Seems to have been fixed by the official 1.1 patch.

[2020-01-27 16:33] Alua7 commented on #30
https://youtu.be/jA43RozSMlA?t=15s
Pls start from 0:15.
1 episode - ! opp dies (but I swear it's not crit)
2 episode - ! opp doesn't die
3 episode - crit with no !
4 episode - one more !
I got ! on various situations - 1st hit, 5th hit but no k.o.
Maybe troubles of old version tho)

[2020-01-27 17:58] Alua7 opened #32 "Enter/Exit button unhold"
Would be possible to keep entering/leaving areas/shops with just pressing button(not holding)?

[2020-01-27 18:49] Alua7 opened #33 "Ribbon Bra hint"
It seems like Ribbon Bra still not matching its description. Can its hint be changed to actual "100% (not 10%) chance to get 2 items from vending machines and crates". Hope this item they will not fix :1st_place_medal:

[2020-01-28 04:12] MoArtis commented on #33
Let me check the code. That sounds easy to check.

[2020-01-28 05:17] MoArtis commented on #6
![image](https://user-images.githubusercontent.com/3904610/73236752-77f78500-41ce-11ea-9f34-4d3f116b35a5.png)
![image](https://user-images.githubusercontent.com/3904610/73237409-74fd9400-41d0-11ea-95cc-4bd5c31c70c4.png)

[2020-01-28 06:48] MoArtis commented on #33
![image](https://user-images.githubusercontent.com/3904610/73239273-98c3d880-41d6-11ea-8e85-41970bdb29bd.png)
Apparently they are testing for the wrong effect. And they just test if it is equipped or not. 🤔

[2020-01-28 07:38] MoArtis commented on #33
Apparently it is a misconfiguration issue after they changed the EquipEffect enum. The item is also using that reflect1Damage thing.
And again it never test for a chance to apply the effect so it is always in effect.
I will just override the translation using the mod's data to say 100% instead of 10%.
![image](https://user-images.githubusercontent.com/3904610/73244145-31ad2080-41e4-11ea-853e-c15b7

[2020-01-28 08:00] MoArtis commented on #33
![image](https://user-images.githubusercontent.com/3904610/73245440-2c9da080-41e7-11ea-92a6-49396286c2ea.png)
![image](https://user-images.githubusercontent.com/3904610/73245456-3921f900-41e7-11ea-94bd-5c32c41b4f8f.png)

[2020-01-28 08:39] MoArtis commented on #30
I think I found the root cause of the issue. Not sure why I did it that way back then but It seemed consistent without modifying RCG's code. But reading the code again, it seems wrong. I changed the code to ensure more consistent results.
A test with a 60% chance of triggering the effect seems conclusive:
![image](https://user-images.githubusercontent.com/3904610/73247813-ae43fd00-41ec-11ea-99e1-2

[2020-01-28 09:48] MoArtis commented on #32
Done and to be tested!

[2020-01-28 15:44] MoArtis commented on #20
[RCG-UserXpMod_GOG_1.3.zip](https://github.com/MoArtis/RCGMod/files/4123193/RCG-UserXpMod_GOG_1.3.zip)
@Alua7 Can you confirm that this package is working? (or not 😂)

[2020-01-28 19:29] Alua7 commented on #20
Yup! It's working! Thanks Master! :1st_place_medal:

[2020-01-28 20:23] Gekasx opened #34 "Bug that might be related to shared rewards"
I was testing v1.3 and the second i died my money went from 80 to 9999 (i got the achievement of collecting $5000) and after that my money looks like this
![money](https://user-images.githubusercontent.com/56242846/73301921-8192e400-41f2-11ea-8dc7-4ccca587abda.jpg)

[2020-01-28 20:35] Alua7 commented on #34
Numbers summed not as numbers?

[2020-01-29 03:05] MoArtis commented on #34
@Gekasx So you activated shared rewards? I need to test that.
@Alua7 NaN could be displayed if the number is infinity or is the result of a division by 0 in runtime (iirc Unity doesn't crash at all in that case).

[2020-01-29 03:07] MoArtis commented on #34
@Gekasx Can you give me more context? What else did you changed? Were you playing alone or with another player?

[2020-01-29 03:21] MoArtis commented on #34
Can't reproduce with a clean install and using Rikki in solo while getting defeated by the first boss.
![image](https://user-images.githubusercontent.com/3904610/73325397-57403580-4289-11ea-9a77-d3673cedcf8e.png)
I need to try in coop. it is certainly related to shared rewards.

[2020-01-29 03:33] MoArtis commented on #34
![image](https://user-images.githubusercontent.com/3904610/73325862-1b0dd480-428b-11ea-8d50-074205660c16.png)
🤔 Strange... I'm gonna check the code directly.

[2020-01-29 04:44] jeeyi345 commented on #9
Tried it today, works perfectly, can't wait to beat it again!
Thank you!

[2020-01-29 05:46] MoArtis commented on #9
Thank you! I'm closing the issue then. 😀

[2020-01-29 05:46] #9 closed

[2020-01-29 05:48] MoArtis commented on #20
Thank you I'm closing it then! 😉

[2020-01-29 05:48] #20 closed

[2020-01-29 05:50] MoArtis commented on #32
@Alua7 Don't hesitate to confirm if the fixes/features are working on all the issue you created (or other if you can/wish). Thanks! 😁

[2020-01-29 06:58] MoArtis commented on #34
@Gekasx  I changed the shared rewards feature to avoid potential division by 0. I can't be 100% sure that was the source of your issue but I'm pretty sure. Give it a try by re-downloading the pack again (It's updated) and let me know.
https://github.com/MoArtis/RCGMod/releases/tag/1.3

[2020-01-29 14:51] Alua7 opened #35 "I made GUI for your precious mod"
[UserXpModSettings.zip](https://github.com/MoArtis/RCGMod/files/4144020/UserXpModSettings.zip)
![MC](https://user-images.githubusercontent.com/60073377/73607691-8df8b180-45e3-11ea-88d0-8053ec6c526c.jpg)

Hope this will be useful :dango: Program allows to customize current version of mod with clicks.
Also easy settings for keyboard (just press keys one after another)
When you move mouse to option -

[2020-01-29 15:02] Gekasx commented on #34
i tried to replicate the bug with no succes (with the previous version and the new one) i guess it was a super specific situation because the only factor that actually matters was me playing alone after misako's death

[2020-01-29 15:37] Alua7 commented on #32
I understand :)  And immediately report if anyhing's broken. This one works

[2020-01-29 15:42] Alua7 commented on #21
![1 3](https://user-images.githubusercontent.com/60073377/73371405-d9f3df80-42df-11ea-9438-be561b6d3a27.jpg)
got this in russian. Any places to enter "yes" and "No" words? :P

[2020-01-29 21:09] Alua7 opened #37 "Sound bug with back attack combo in JUMP"
Some of "gameplayModifications" section causes jump and heavy attack with Kyoko to do scary sounds.
Update - it seems like it's "backattackcombo" feature.
Upd. video - https://youtu.be/cG6gy8qv3MU
Jump and try left right quickly and heavy attack to opponent

[2020-01-29 23:09] Alua7 opened #38 "Recruits often become invulnerable"
Some cheerleaders have several bugs o.o
enemies: sometimes hitted CL falls down through the floor, sometimes I cannot hit them with jump-heavy attack (Riki, Kyoko) Note: they were not parrying when I can't hit them

friendly: become invulnerable? https://youtu.be/R5ZItCfRejs
It seems like if max hearts - invulnerable, if 2 hearts - vulnerable
earlier(prev version) same conditions(for riki) made re

[2020-01-30 00:02] Alua7 opened #39 "Quick Skipping may cause Misuzu hang"
I'm pressing start very quickly from the start of cutscene and there was strange sound and kyoko and misuzu become just standing(uncontrollable)

Like this: https://youtu.be/jPyBQzxwQao

[2020-01-31 04:17] MoArtis commented on #34
Thank you! I think it should be fine now. I'm gonna close that issue for now.

[2020-01-31 04:17] #34 closed

[2020-01-31 04:17] #32 closed

[2020-01-31 04:22] MoArtis commented on #35
Wow that's beyond cool! Thanks @Alua7 ! I'm gonna test it and add it in the release page asap. ;)

[2020-01-31 04:26] MoArtis commented on #35
![image](https://user-images.githubusercontent.com/3904610/73512536-ee8dc000-4424-11ea-8dd4-7590d6e73b5c.png)
Here are two little typos. :P

[2020-01-31 05:29] MoArtis commented on #38
Seems like the active recruit system is broken... somehow. 🤔 Can you test a bit again but without the enemies scaling? (seems like you are using it in the video)

[2020-01-31 05:30] MoArtis commented on #39
Ah shit. I remember getting these a lot when I first implemented that feature. I thought it fixed it for good. Is it very frequent and easy to reproduce? 🤔

[2020-01-31 08:20] Alua7 commented on #39
Pretty easy to get if impatiently tap START button(  Not that catastrophic really, but anyway

[2020-01-31 11:09] Alua7 commented on #35
Done! And updated all fields to work and spaces in file are not broken(if open manually)
![MC](https://user-images.githubusercontent.com/60073377/73534903-87840180-444c-11ea-9b0c-bb7e8fd298de.jpg)

[2020-01-31 12:58] winterheart commented on #21
Seem that current font don't have cyrillic glyphs. Need to switch to other one or make map between locale and supported font.

[2020-01-31 13:01] MoArtis commented on #21
ah yeah I need to dynamically switch the font! Sorry about that @Alua7  :D

[2020-01-31 15:21] binhdvo commented on #35
Wow, very cool indeed!

[2020-01-31 15:32] Alua7 commented on #38
Same with 1.0 scale enemies. Can tell "1st knockdown" mentioned before is not required. They're invulnerable seemly RANDOM. (and it was ok in 1.0 but there recruits often dissapeared before boss).
Unpleasant bug :(

[2020-01-31 16:20] Alua7 commented on #35
[MMModSettings.zip](https://github.com/MoArtis/RCGMod/files/4144023/MMModSettings.zip)

(Source code since MuKen wondered)
It is lammy and it is delphi so it is awful horror thing. I warned you.

[2020-01-31 20:11] Alua7 commented on #37
If possible to insert check for jumping status for this feature - perhaps it will heal it?

[2020-01-31 20:28] Alua7 commented on #39
Funny fact - if I quickskip - I could lose recruit in 1.0  (before boss)(don't remember any time I lost recruit with no quickskip). Yeah... timely notice...

[2020-02-01 04:34] MoArtis commented on #37
yeah I need to look into all of these bugs. But between the virus and my own project time is getting short again. 😁 I can't promise anything but I will try to make up for some time later this month.

[2020-02-01 08:23] Alua7 commented on #37
Wait a minute, what virus? we need you alive!
![MikuAA](https://user-images.githubusercontent.com/60073377/73589282-6a0f7000-44fe-11ea-883a-7b9b1cce9927.png)

[2020-02-01 09:46] MoArtis commented on #37
@Alua7 as mentioned in my bio, I'm living in Wuhan, where the nCov originated. For real ahah

[2020-02-01 11:52] Alua7 commented on #37
Why YOU.  T_T (( Why not entire blizzard ent.

[2020-02-01 16:39] soulofrebirth opened #40 "1.3 Sabuko bug"
Sabuko will jump down early and become invincible with 1.3 mod when she changes state.
Like this : https://youtu.be/edeAQ0y4WQM
No mod : https://youtu.be/6Popa3m8Cxw

This bug doesn't happen in 1.21 test version.

[2020-02-01 22:07] Alua7 commented on #40
monk mode is on? that is not bug that its feature. I've got same https://youtu.be/bAkeNbq5kAA

[2020-02-01 22:43] Alua7 commented on #30
it seems like it working fine now

[2020-02-02 03:53] #30 closed

[2020-02-02 03:55] MoArtis commented on #40
@soulofrebirth Can you confirm that "gameplay modifications => Monk mode" is set to false in the moddata.json file? It sounds like a bug to me.

[2020-02-02 06:46] soulofrebirth commented on #40
"Monk mode" is set to false. You can see Sabuko's health. I tried to set it to true, Sabuko is not invincible.
False:

[2020-02-02 06:55] soulofrebirth commented on #40
"Monk mode" is set to false. You can see there is no increase in Sabuko's health. I tried to set it to true, Sabuko is not invincible.
False: https://youtu.be/2TIdpZ9xClI
True: https://youtu.be/eGQPcmtPF0Y

[2020-02-02 09:20] soulofrebirth commented on #37
Take care of yourself.

[2020-02-02 14:52] Thanyemblem commented on #28
wait. not hitting anything does damage the enemy you carry? goodness. It really should give feedback if thats the case.

[2020-02-02 15:15] Alua7 commented on #28
ShHHure. It does
![unknown](https://user-images.githubusercontent.com/60073377/73610407-10dc3500-4601-11ea-905d-256504871b00.png)

And why shouldn't?)

[2020-02-02 22:40] Alua7 commented on #13
There is an issue. I pressed F4 and after a few secs F$ again, and F5 got some hits and F5 again. Summoned active recruit on same location and he's moving with no animation
https://youtu.be/gJnIEJ47kZI action starts from 0:25

[2020-02-02 23:25] Alua7 commented on #22
Bugs are not detected this far :100:

[2020-02-02 23:32] Alua7 commented on #35
Well, what do you say, Master? :O

[2020-02-03 03:18] MoArtis commented on #40
Thank you! This will be useful to track and fix the bug.

[2020-02-03 03:20] MoArtis commented on #13
oh yeah I haven't tested these features against the active recruit system. Not sure if it is the intended usage anyway but I will have a look later. Thanks!

[2020-02-03 03:22] MoArtis commented on #22
I'm closing the main issue (keeping weapons for bosses). If needed don't hesitate to create a new issue for the other recruit bug. Thanks!

[2020-02-03 03:22] #22 closed

[2020-02-03 03:28] MoArtis commented on #35
https://github.com/MoArtis/RCGMod/releases/tag/1.3

I added it to the download page! 😀

[2020-02-03 04:13] binhdvo commented on #35
@MoArtis what do you think about including it as part of the release itself?  (assuming Alua is ok with that), seems like it'd be nice to be able to say the mod has an easy UI right out the gate :)

[2020-02-03 10:10] Alua7 commented on #13
Lame utube, fixed link https://youtu.be/7w22rOL_9TY

[2020-02-03 11:26] MoArtis commented on #35
@binhdvo Sure! @Alua7 Make sure you credit yourself somewhere on the app. On its window title for example.

[2020-02-03 11:49] Alua7 commented on #35
@MoArtis  doubleclicking on a hint label(in the very bottom) show it, tbh :D Regular user barely want to see it every time when he's gonna make changes. I change nicknames like gloves so only important info.

![image](https://user-images.githubusercontent.com/60073377/73650838-4dfe0100-46ad-11ea-91e9-d06e930c18f3.png)

(hold click on anything that gives a hint and move mouse to hint, release butto

[2020-02-03 12:05] Alua7 opened #41 "Empowering obviously useless items"
As a super low tier items like:
fishnet top
deco nails
choker

Quote:

ok+5% = 5 more damage, how much 100HP-throws to a single enemy you will make?
u need him/her to be stunned else, or giveuping
5 damage - that is less than 1 quick attack

Deco nails - 5% less damage froms cheerleaders? even if we close our eyes - there is bomb bottom already for blocking 5% (in average) damage from EVERYONE. It

[2020-02-03 12:26] Alua7 commented on #33
And special thanks for adding json support so I could fix some localization's errors for my language <3

[2020-02-03 12:43] vidente1019 opened #42 "Switching characters in the pause menu"
Would it be possible to trigger the player select screen from the pause menu, allowing us to switch characters mid-game?

[2020-02-03 12:59] winterheart opened #43 "Calling for translations"
After little research I found that RCG can support more languages than original 10.

List of supported languages can be found in one of structures, and, as I can see, can be easily extended. Main issues is supported fonts and translated entries to specific language.

First issue is not real problem if new language belongs to list of already supported character families:

* Latin-1 (maybe even more

[2020-02-03 13:07] winterheart commented on #11
So, this issue solved, I guess...

[2020-02-03 13:07] #11 closed

[2020-02-03 14:20] #33 closed

[2020-02-03 14:20] Alua7 commented on #16
Looking Good :3

[2020-02-03 14:20] #16 closed

[2020-02-03 17:01] MoArtis commented on #35
Up to you! It's just to make sure you are credited. :)
I will update the pack tomorrow.

[2020-02-03 17:03] MoArtis commented on #11
@winterheart ahah yes! forgot to write a comment to ask you to test (if you could). Thanks!

[2020-02-03 17:07] MoArtis commented on #42
Interesting idea. I guess you could forget passing by the character selection screen. I'm pretty sure the game will not allow that. But changing the character mid game might be "feasible". I'm expecting a ton of difficulties related to stats and items though.
So I'm keeping the issue around and we might look into it one day. Thanks for the suggestion!

[2020-02-03 17:14] MoArtis commented on #43
Nice work @winterheart !

[2020-02-04 18:36] Alua7 commented on #13
Disable AI still lets them give up

[2020-02-07 12:52] Alua7 commented on #28
Can this damage be displayed too btw?

[2020-02-08 13:54] Alua7 commented on #21
No news this week?
![bledina umaru](https://user-images.githubusercontent.com/60073377/74086413-c816f700-4aac-11ea-8daa-3d36bb931c68.png)

[2020-02-16 20:00] Alua7 opened #44 "SP attacks meter recolor"
Is it possible to recolor green meter to any color like XP/dmg text? :)

[2020-02-19 10:17] Alua7 opened #45 "Compatible with game 1.0?"
It seems like 1.1 patch created lots of troubles and things that worked fine in 1.0 now aren't working And Kunio's UP+SP Attack doesn't hit grounded enemies anymore :(
is it hard to copypaste new recent features (keep weapons, loclisation data) to the old assemblysharp.dll??

[2020-03-05 14:42] Alua7 commented on #41
Still silence...

[2020-03-06 08:26] MoArtis commented on #41
😞🕯
More seriously I'm planning to work on a (small) patch this weekend. But honestly my time bandwidth is getting smaller and smaller. 😅

[2020-03-19 16:03] MoArtis commented on #45
You still have access to the version 1.0?

[2020-03-23 12:52] Alua7 commented on #45
MoArtis sir, yes sir!

[2020-03-23 12:56] Alua7 commented on #45
it looks like almost every single file been changed. Such a mess

[2020-03-24 17:25] Alua7 commented on #45
Should I link it? :o

[2020-03-25 05:20] MoArtis commented on #45
It might be useful, yeah (the dll file only)

[2020-03-25 21:59] Alua7 commented on #45
This!
[Assembly-CSharp.zip](https://github.com/MoArtis/RCGMod/files/4383782/Assembly-CSharp.zip)

[2020-04-20 15:56] Marakalaid opened #46 "Feature: Toggle Friendly Fire ON/OFF with a hotkey?"
I've tried going through the customizable settings in the mod, but I was unfortunately not able to find a way to bind a key to enable or disable friendly fire during gameplay, without having to go through the menu.

Would this be possible in any way? Thanks!

[2020-04-21 02:26] MoArtis commented on #46
This is possible but that would be a new feature since friendly fire is not
bound to any key, right?
I can probably bind it to function key but I will have to check if
activating FF doesn't imply some initialization processes when starting the
game.

On Mon, Apr 20, 2020, 11:56 PM Marakalaid <notifications@github.com> wrote:

[2020-04-22 19:16] Marakalaid commented on #46
Correct, it is currently not bound to any key. For co-op shenanigans and streaming this would be an amazing feature to have, and I would be extremely grateful for it if it isn't too difficult to implement.

Thank you for looking into it!

[2020-04-23 01:04] Marakalaid commented on #46
Correct, it is currently not bound to any key and can only be toggled by going to the cellphone menu (or before starting the game in the main menu).

For co-op shenanigans and streaming this would be an amazing feature to have, and I would be very grateful for it for it isn't too difficult to implement.

Thank you for looking into it!

[2020-04-23 01:07] Marakalaid commented on #46
Correct, it is currently not bound to any key and can only be toggled by going to the cellphone menu (or before starting the game in the main menu).

For co-op shenanigans and streaming this would be an amazing feature to have, and I would be very grateful for it if it isn't too difficult to implement.

Thank you for looking into it!

[2020-05-25 18:10] RedDude opened #47 "Feature: 4 players support?"
It would be hard or impossible right?

[2020-05-25 18:11] RedDude opened #48 "Feature: Boss Rush?"
There is a way to add a boss rush?

[2020-05-25 19:06] RedDude opened #49 "Feature: Re-fight Bosses?"
Maybe a way to reset boss encounters?
"F(5-9)" key or a interactive button in the boss lair?

[2020-05-25 19:11] RedDude opened #50 "How to contribute?"
Hello Hello

I loved how the mod improved the game in stellar ways.
Thanks a lot!

How to contribute?
How can I apply this "ModifiedScripts.diff"?
It is using dnSpy?

I would love to try some stuff

[2020-06-13 09:19] MoArtis commented on #50
Oh sorry for the late reply...

Are you still up to contribute? I can give you access to the full repo.
This repo is only containing the diff file that can be applied on the decompiled sources (ILspy which DNspy is using IIRC)

In any case, thank you and have a nice day!

[2020-06-13 09:21] MoArtis commented on #49
Good idea! I'm guessing that force leave and re-enter the room should do the trick.

[2020-06-13 09:22] MoArtis commented on #48
Probably yeah. The bottleneck would probably lie on building a menu / ui for it. Doing that part without having access to the Unity editor is quite challenging. :D

[2020-06-13 09:25] MoArtis commented on #47
I don't remember how the multiplayer implementation looks like, code-wise. I wouldn't be surprise to be built around 2 players. Probably not "impossible" though. The UI, on the other hand, is def built for 2 player and would be probably very difficult to accommodate for more players. 😬

[2020-06-13 09:26] MoArtis commented on #44
I'm pretty sure it's trivial to do, yeah. :) (I know 4 months later, who cares? but one day, I will at least clean up the whole thing and wrap it up nicely.)

[2020-07-20 01:48] RedDude commented on #50
Hey, are you still up to give me access?

I want to try to add a boss rush and more players support

[2020-07-20 04:24] MoArtis commented on #50
Done! 😉

[2020-07-21 12:43] RedDude commented on #50
Man, I'm having a hard time to decompile the game.
It has no error, however when I start the game it crash instantly.

Could you help me out?
Or send me your decompiled source?

[2020-07-22 03:28] MoArtis commented on #50
You mean recompile, right? I gave you access to the full source code with the visual studio project.

I just tested it and it seems to work:
![image](https://user-images.githubusercontent.com/3904610/88130884-40621680-cc0e-11ea-9c8b-476e2142a674.png)

One important caveat though: You must have the ModData.json next to the executable. That's certainly something that can be improved by generating it

[2020-07-22 03:30] MoArtis commented on #50
Also you better use the "package" or "gog package" solutions in Visual Studio. Release's post-build event that used to copy the files to your steam folder need to be modified manually and its not creating the right folders for some reasons.

[2020-07-22 17:17] RedDude commented on #50
For my Full Metal Furies Mod, the mod.json if missing, uses a already instanced ModSettings obj.
After parsing the mod.json it replace it contents. but recreate the json file would be a great idea

 I can't find it. I would be able to see in the code tab? I'm a bitbucket guy, so not sure if I'm missing something.
Are you sure that you given me full access?

![image](https://user-images.githubuserc

[2020-07-23 05:49] MoArtis commented on #50
Ah no I sent you an invite through Github for another repo. You should have received a mail a few days ago.

Here is the link just in case:
https://github.com/MoArtis/RCGMod-SourceCode/invitations

[2020-07-23 15:16] Alua7 commented on #44
Cool!

[2020-07-26 01:28] RedDude commented on #50
Hey Man,

Thanks! I could build it successfully!

Have you been able to debug the code?
Could you see a console? Put breakpoints?
Log files?

[2020-07-26 06:17] MoArtis commented on #50
Never had to do that.
But don't hesitate to share if you find a reliable way to do all of that.

[2020-08-22 08:01] CuddleDaddyMick opened #51 "The game doesnt open after installing the mod for v1.0 and suggestion to make a NUDE mod ;)"
is it because my game is cracked and the version is 1.0 instead of 1.1? Please help. TwT

[2020-08-24 03:28] MoArtis commented on #51
The mod only works for the latest version of the game (1.1 afaik).

[2020-08-25 06:02] CuddleDaddyMick commented on #51
@MoArtis  thanks for letting me know, i just installed your first RCG mod and its working fabulously (tho i dont have the features that the updated mod has duhh but i m quite happy nonetheless). And i would also like to suggest that could you please work on NUDE mod, basically turn the main characters naked. If you actually end up making it im sure your mod would seriously be a hit, as it would ma

[2020-08-25 07:38] MoArtis commented on #51
If you appreciate the game just buy it though. 😂
And for the suggestion:
![image](https://user-images.githubusercontent.com/3904610/91146088-fa0a4680-e6e8-11ea-8161-8aaf0f0764d4.png)

[2020-08-25 07:38] #51 closed, assigned to nobody

[2020-11-25 16:56] vatovato opened #52 "GamePass for PC Compatibility"
Hi! The game has been available for GamePass for a couple of days now and I was wondering if there was any way you could make a version for it. I can't even begin to play the game due to a bug with the DS4 controller, where the Player 2 Join button is mapped to Square, which makes it impossible to play the game with just one girl.

Thank you!

[2020-11-26 07:21] MoArtis commented on #52
Can you send me the Assembly-csharp.dll file from that version? I can't promise anything but I will have a look.

[2020-11-26 10:38] vatovato commented on #52
I would love to but there is no such thing. There isn't even a \RiverCityGirls_Data\Managed folder. Here is a screenshot of all there is:

![Screenshot 2020-11-26 073611](https://user-images.githubusercontent.com/35309563/100340749-692e5a00-2fba-11eb-81ac-02c63eb8bba6.jpg)

[2020-11-26 11:37] MoArtis commented on #52
Oh that's a bummer. I'm guessing that the UWP build requires IL2CPP. This not as easy to decompile as Mono. I don't think there is a way to mod that kind of build at the moment. Sorry about that. 😢

[2020-11-26 12:00] vatovato commented on #52
Oh that's quite alright. Guess I'll have to get the Steam version. Thanks!

[2020-11-26 12:00] #52 closed, assigned to nobody

[2020-12-02 09:31] Bagels1 opened #53 "How to mod myself/fix issues?"
Trying to get UserXpMod to work with this game update version 1, when I paste the unzipped contents into the install directory I replace Assembly-CSharp.dll as instructed but once done the game refuses to run even with admin privelege (starts to open then vanishes). Can MOArtis/anybody help me out? I tried both the steam and GOG versions of the mod and even tried some earlier version of the mod bu

[2020-12-03 18:32] #53 closed, assigned to nobody

[2020-12-05 10:47] MoArtis commented on #53
👍

[2020-12-09 14:16] Bagels1 opened #54 "Special meter bugged?"
I can recruit enemies fine with L1, but can't actually call them in to help with any button? (I've enabled active recruits)

[2020-12-14 06:17] MoArtis commented on #54
Strange. I'm gonna test that myself. Are you using the steam version?

[2020-12-14 10:47] MoArtis commented on #54
I just checked and it seems that some enemies can get pretty buggy.
Do you have any more information that you can provide about your issue?

[2020-12-15 10:41] Bagels1 commented on #54
GOG. I completed the game now, but the only time I could summon an enemy seemed to happen mysteriously and I couldn't make it happen myself no matter which button I pressed lol. Never mind I enjoyed the mod despite whatever the problem was, so thank you. :)

[2020-12-15 10:41] #54 closed, assigned to nobody

[2021-01-08 07:35] JamesFirth2020 opened #55 "Black screen with GoG"
Late to the party, but I cannot get this working with what I assume to be the latest Gog version 1.1 - I installed it straight from galaxy.

Anyway, it goes to a black screen and will not progress and I'm using the most recent Gog_1.3 file from here.

[2021-01-14 12:14] MoArtis commented on #55
Hum... Strange. So the version of the game on GoG is still 1.1? Maybe try the version 1.1 of the mod then.

[2021-01-16 10:09] Alua7 commented on #38
No progress with that, master?

[2021-01-16 10:11] Alua7 commented on #45
Didn't you look it?(

[2021-01-18 10:35] MoArtis commented on #45
ah no I can't even really test it since I don't own the GOG version. I'm just way too busy these days. :(

[2021-01-18 10:37] MoArtis commented on #38
@binhdvo worked on that feature. But I'm sure he doesn't have the time to work on that neither.

[2021-01-22 07:35] HurricAngel commented on #55
I am running into the same issue but occasionally the game launches normally. I have no idea why or how. One extra thing I found is that if I start the game using the Settings Editor it always starts noramally.

[2021-01-23 17:41] Alua7 commented on #55
Perhaps you make some errors if edit manually

[2021-01-23 17:43] Alua7 commented on #38
:(

[2021-01-23 18:18] JamesFirth2020 commented on #55
Hurric angel cracked it! Running through the setup program has done it. Thanks Everyone!

[2021-01-24 00:47] HurricAngel commented on #55
Glad to hear my finding helped :)

Do you also run in to a problem where if you change any settings in game using the cell phone a few of the languages disappear from the menu? Particularly Simplified and Traditional Chinese. They are just gone and cannot be selected any more unless I remove the mod and start the original game. I don't play in those languages so it doesn't bother me but it certain

[2021-02-28 19:26] milkyslaps commented on #55
Hello, I just wanted to say something to the author and anyone having future issues with this.
I tried launching and got this error as well, however I realized I was using the GoG exe, so the game loads up and doesn't start. (black screen but no crash etc) The fix for this is to navigate to your game folder and use the other exe. It has a different icon.  For me it's in "X:\Games\River City Girls\

[2021-05-12 16:26] BluePurplePro opened #56 "Controller issue"
After installing UserXpMod, the game assign controller as player 2. I have TKL keyboard which doesn't have enough key to assign for 2 players. I wanna play this game with controller as player 1 and be able to change keyboard mapping with this Mod

Turns out I just need to unplug and replug the controller

[2021-05-12 16:37] #56 closed, assigned to nobody

[2022-02-05 14:31] MadHareH opened #57 "rcg2 is coming!"
plz,let hits num dispaly in the screen ! just like rcg 2!

[2022-02-13 07:25] Alua7 opened #58 "Mod compile"
Can we have a whole mod pack for editing  and compilation?

[2022-02-16 06:24] MoArtis commented on #58
The diff file and the other source files should be enough to compile the project.
It's not super intuitive but the alternative would require to share the entire decompiled sources of the game. This is probably not authorized or legal.

[2022-03-04 21:36] CoffeeLuvs opened #59 "black screen when i open the game"
Hello, first of all I would like to apologize for my bad English, I am using Google Translate.
Ok, to the point, I followed the installation perfectly, but when I want to run the game, it stays black. There is a solution? (I have the game purchased on steam)

[2022-03-21 18:35] Alua7 opened #60 "Monk mode uncompleteable"
I've taken a burger during Godai's mission, but I've eaten it before delivering and burgers are again cost 24$. So I stuck with no possibility to go further. Maybe change price trigger to when Godai's quest is over?

[2022-04-04 19:12] Alua7 opened #61 "Hit damage color always red"
Just tried to change it, but it is always red no matter what you set

[2022-07-21 13:59] Alua7 commented on #41
jeez Moartis, that was SO easy to do having an idea how to mod RCG. It'd take about 5 minutes total. OMG.
I made it myself, adding to your mod - https://youtu.be/ofgjDKESBbw